.progress {
     margin-right: 5px;
     width: 100%;
 }

.arrow-align {
    display: flex;
    align-items: center;
    float:right;
}

.my-radio {
    padding: 2.5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
}


.testDiv { width:100vw; height:31.25vw; line-height:31.25vw; font-size:4.375vw;
 font-weight:bold; text-align:left; color:#333333; }

.checkbox-item{
    font-size:4vw;
}

.card-footer{
    min-height: 30vw;
}

.layout-top{
    margin-top: 10vw;
}